<style>
  .done:checked + .task {
    color: red;
  }

  .task_list {
    list-style: none;
  }
</style>

<div>
  <form action="/task/add" method="post">
    <label>Add Task</label>
    <input type="text" name="task" placeholder="add task" />
    <input type="submit" value="submit" />
  </form>
  <p><%=title%></p>

  <form action="/task/delete" method="post">
    <ul class="task_list">
      <% tasks.forEach(task=>{ %>
      <li>
        <input type="checkbox" class="done" name="tasks" value="<%=task%>" />
        <span class="task"><%=task%></span>
      </li>
      <%}) %>
    </ul>
    <input type="submit" value="remove" />
  </form>
</div>
